
.idea/
.vscode
.response
extras/cmu_us_slt.flitevox
requirements.txt
**/__pycache__/
/susi_python
/hwmixer
/vlcplayer
susi_linux/hotword_engine/snowboy/_snowboydetect.so
susi_linux/hotword_engine/snowboy/snowboydetect.py
/extras/output.wav
/snowboy/
