
.idea/
.response
extras/cmu_us_slt.flitevox
requirements.txt
speech/__pycache__/
/susi_python/
utils/__pycache__/
hotword_engine/snowboy/_snowboydetect.so
hotword_engine/snowboy/snowboydetect.py
/extras/output.wav
/snowboy/
