snowboy  # Will be installed from FOSSASIA repo
speechRecognition==3.8.1
service_identity
pocketsphinx==0.1.15
pyaudio
json_config
google_speech
async_promises
rx
python-Levenshtein
pyalsaaudio
spidev
RPi.GPIO
youtube-dl>2018
python-vlc
pafy
colorlog

# Repo for wheel packages, pre-compiled for ARM
--extra-index-url https://repo.fury.io/fossasia/
