[Unit]
Description=Starting SUSI Server for SUSI Linux

[Service]
Type=oneshot
User=pi
ExecStart=/home/pi/SUSI.AI/susi_linux/susi_server/susi_server/bin/restart.sh

[Install]
WantedBy=multi-user.target
