[Unit]
Description=Startup Audio For SUSI Linux

[Service]
Type=oneshot
User=pi
ExecStart=/usr/bin/play -q /home/pi/SUSI.AI/susi_linux/main/wav/ting-ting_susi_is_alive_and_listening.wav

[Install]
WantedBy=multi-user.target
