[Unit]
Description=SUSI Linux
Wants=network-online.target
After=network-online.target ss-susi-server.service

[Service]
Type=idle
User=pi
WorkingDirectory=/home/pi/SUSI.AI/susi_linux/
ExecStart=/usr/bin/python3 -m main -v --short-log

[Install]
WantedBy=multi-user.target
