[Unit]
Description=Starting SUSI Server for SUSI Linux

[Service]
User=pi
# Tell SUSI server not to run as daemon, so that systemd can manage it better
Environment=DO_NOT_DAEMONIZE=1
ExecStart=/home/pi/SUSI.AI/susi_linux/susi_server/susi_server/bin/start.sh

[Install]
WantedBy=multi-user.target
