[Unit]
Description=Starting SUSI Linux 
Wants=network-online.target
After=network-online.target

[Service]
Type=idle
ExecStart=/usr/bin/bash /home/pi/SUSI.AI/susi_linux/run.sh

[Install]
WantedBy=multi-user.target
